@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
*
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Oregano', sans-serif;
        }
        ul
        {
            list-style: none;
        }
        a
        {
            text-decoration: none;
            color: black;
        }
        body
        {
            background-color: rgb(185, 177, 177);
        }
        header
        {
            background-color: brown;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 0 80px;
            border-bottom: 1px;
            height: 80px;
            position: fixed;
            box-shadow: -5px 5px 10px rgba(0, 0, 0, 1);
            
        }
        footer 
        {
            background-color: brown;
            text-align: center;
            padding-top: 40px;
            color: white;
            box-shadow: -5px 5px 10px rgba(0, 0, 0, 1);
            padding-bottom: 30px;
        }
        .menu
        {
            display: flex;
            gap: 120px;
            color: rgb(239, 236, 243);
        
        }
        .menu li a
        {
            padding: 30px;
            color: white;
            font-weight: bold;
            font-size: 15px;
            text-align: center;
        }
        .menu li a:hover
        {
            border-bottom: 2px solid black;
            background-color: rgb(189, 65, 65);
            color: black;
        }