{% extends "master.html" %}
{% load static %}
{% block content %}

    <link type="text/css" rel="stylesheet" href="{% static 'css/cadastro.css'%}">
        <nav>
            <div class="form-image">
                <img src="{% static 'img/online-page-animate.svg' %}">
            </div>
            <div class="form">
                <form action="#">
                    <div class="form-header">
                        <div class="title">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <div class="input">
                        <div class="input-box">
                            <label for="email">E-mail:</label>
                            <input type="text" name="email" id="email" required/>
                        </div>
                        <div class="input-box">
                            <label for="password">Senha:</label>
                            <input type="password" name="password" id="password" placeholder="Digite sua senha" required/>
                        </div>
                        <div class="input-box">
                            <label for="confirmpassword">Repetir Senha:</label>
                            <input type="password" name="confirmpassword" required/>
                        </div>
                    </div>
                    <div class="bot">
                        <button><a href="#">Entrar</a></button>
                    </div>
                    <p>Se você ainda não possui uma conta cadastre-se <a href="cadastro/">aqui</a></p>
                </form>
            </div>
        </nav>

{% endblock %}