{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty & Cursos</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Beauty & Cursos.png' %}" type="image/x-icon"/>
</head>
<body>
    <header>
        <ul class="menu">
            <li><a href="/">INÍCIO</a></li>
            <li><a href="reservas_cursos/">SERVIÇOS E CURSOS</a></li>
            <li><a href="login/">LOGIN</a></li>
            <li><a href="cadastro/">CADASTRO</a></li>
            <li><a href="perfil/">PERFIL</a></div>
    </ul>
    </header>
{% block content %}
{% endblock %}
    <footer>
        <p>Copyright © Beauty & Cursos | 2022</p>
    </footer>
</body>
</html>