
        nav 
        {
            background-color: rgb(239, 236, 243);
            text-align: center;
            padding-bottom: 80px;
        }
        main 
        {
            background-color: rgb(239, 236, 243);
            text-align: center;
        }
        
        .ser
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 300px;
        }
        .box
        {
            border-radius: 20px;
            background-color: white;
            width: 290px;
            height: 275px;
        }